.numsContainer {
    margin-top: 10px;
    margin-left: 16px;
    
}

.firstNum { 
    color: #193048;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

}   

.secondNum {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color:  #8A9C1B;
}

.buttons {
    margin-top: 5px;
    margin-left:10px;
}

.button {
    padding: 2px 4px;
    background-color: white;
    border: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #6C7B8A;
    width: 80px;
}

.button:hover {
    cursor: pointer;
    border: 1px solid #cfd9e4;
    border-radius: 20px;
}

.buttonSelected {
    background: #EDEEF0;
    border: 0px;
    border-radius: 20px;
    padding: 4px 8px;
    gap: 10px;
    color: #193048;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    width: 80px;
}

.chartContainer {
    margin-top: 10px;
}

