/* First Container */

.firstStatContainer {
    padding: 6px;
    margin: 20px 15px;
    background: #F5F7FA;
    border-radius: 12px;    
    width: 322px;
    height: 88px;   
}

.firstTitle {
    padding-top: 10px;
    padding-left: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #193048;
}

.bars {
    display: flex;
    align-items: center;
    margin-left: 7px;

}

.coloredBar {
    width: 11.68px;
    height: 32px;
    border-radius: 2px;
    background: #8A9C1B;;
    margin-left: 3px;
}

.singleBar { 
    width: 11.68px;
    height: 32px;
    border-radius: 2px;
    background: #DADEE2;
    margin-left: 3px;
}

.barAndTextContainer {
    margin-top: 16px;
    display: flex;
}

.exp {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

/* Second Container */

.secondStatContainer {
    padding: 6px;
    margin: 20px 15px;
    background: #F5F7FA;
    border-radius: 12px;    
    width: 322px;
    height: 100px;  
}

.secondTitle {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #193048;
}

.infoIcon {
    color:  #F05323;
    margin-left: 5px;
    margin-top: 1px;
}

.infoIcon:hover {
    cursor: pointer;
}

.description {
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #A3ACB6;
}

.infoContainer {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.singleInfo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.topValue {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6C7B8A;
}

.bottomValue {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #193048;
}